body {
  font-family: sans-serif, serif;
}

.container {
  width: 16em;
  height: 27em;
  padding: 0.5em;
  margin: auto;
  border-radius: 3px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.display {
  grid-column: 1 / 5;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.buttons {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 0;
}

.spec-buttons {
  background-color: rgb(184,184,184);
}

.int-buttons{
  color: white;
  background-color: rgb(72,72,72);
}

.op-buttons {
  color: white;
  background-color: rgb(255,165,0);
}

#zero{
  width: 7rem;
  padding-left: 1rem;
  border-radius: 30% / 50%;
  text-align: left;
  grid-column: 1 / 3;
}
