body {
  font-family: sans-serif, serif;
}

.container {
  width: 16em;
  height: 27em;
  padding: 0.5em;
  margin: auto;
  border-radius: 3px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.display {
  grid-column: 1 / 5;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

